body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f2f2f2; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    margin-bottom: 20px; 
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 50px;
    margin-right: 10px;
}

header .logo span {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #333;
    background-color: #FFEB3B;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #FFD700;
    color: #000;
}

.cuadro-de-busqueda {
    display: flex;
    align-items: center;
}

.cuadro-de-busqueda input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.cuadro-de-busqueda button {
    padding: 5px 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #FFEB3B;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.cuadro-de-busqueda button:hover {
    background-color: #FFD700;
    color: #000;
}
.collage {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; 
    margin-top: 20px; 
    margin-bottom: 40px; 
    margin-bottom: 20px;
}

.section {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}

#introduccion {
    background-color: #e3f2fd; 
}

#historia {
    background-color: #fce4ec; 
}

#equipo {
    background-color: #e8f5e9;
}

#mision_vision {
    background-color: #fff9c4; 
}

#valores {
    background-color: #f3e5f5; 
}

#contacto {
    background-color: #ffebee; 
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer .contacto,
footer .redes-sociales {
    margin-bottom: 20px;
}

footer .redes-sociales img {
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

footer .redes-sociales a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    
}